@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100");
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@font-face {
  font-family: "samlip";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OSeongandHanEum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OSeongandHanEum.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.cont {
  display: inline-block;
  vertical-align: middle;
  max-width: 1500px;
}
.container {
  padding: 0 20vh 0 20vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.gitCont {
  text-align: left;
  display: flex;
  margin-bottom: 10px;
}
#git {
  width: 6vw;
  height: 6vh;
  align-self: flex-start;
  text-align: left;
}
.line {
  width: "100%";
  height: 5px;
  margin-bottom: 20px;
  background-color: lightgray;
}

.intro {
  /* margin-bottom: 20px; */
}

#skill {
  font-family: samlip;
  color: black;
  font-size: 1.3rem;
  margin-bottom: 2vh;
  text-align: left;
}

@media all {
  html {
    font-size: 15px;
  }
  #logo {
    width: 40vh;
  }
  .gif {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .home {
    width: 9%;
    height: 6%;
  }
  #gif {
    background-size: 100%;
    width: 16vw;
    height: 68vh;
    border-radius: 2vw;
    background-repeat: no-repeat;
  }
  .main {
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 30px;
    /* max-width: 1500px; */
    display: inline-block;
    vertical-align: middle;
  }
  #ballon_01 {
    position: relative;
    padding: 6vw;
    margin-top: 20px;
    background: white;
    border-radius: 50px;
    font-size: 2.4em;
    font-weight: 400;
    color: black;
    border-style: double;
    border-color: black;
    border-width: 10px;
    width: 80vw;
  }
  #intro {
    margin-bottom: 20px;
    font-size: 1.2em;
    /* font-family: samlip; */
  }
  #duration {
    font-family: samlip;
    font-size: 1.9rem;
    margin-bottom: 20px;
    color: black;
    text-align: left;
  }

  #gitText {
    /* font-family: samlip; */
    color: black;
    font-size: 1.3rem;
    margin-left: 2vw;
    margin-top: 2vh;
    /* margin-bottom: 20px; */
    text-align: left;
  }

  #contribution {
    text-align: left;
    margin-bottom: 20px;
    font-family: samlip;
    font-size: 1.7rem;
  }
  #contribution_list {
    text-align: left;
    margin-bottom: 20px;
    font-family: OSeongandHanEum;
    font-size: 1.5rem;
  }
  #list {
    margin-bottom: 10px;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 576px) {
  #logo {
    width: 20vh;
  }
  .home {
    height: 0;
  }
  .main {
    align-items: center;
    margin-top: 30vh;
  }
  .gif {
    margin-top: 20vh;
    height: 16vh;
    display: flex;
    justify-content: space-between;
  }
  #gif {
    background-size: 100%;
    width: 16vw;
    height: 54vh;
    border-radius: 2vh;
    background-repeat: no-repeat;
  }
  #intro {
    margin-bottom: 5vw;
    font-size: 0.5em;
    /* font-family: samlip; */
  }
  #ballon_01 {
    position: relative;
    padding: 5vw;
    margin-top: 20px;
    background: white;
    border-radius: 50px;
    font-size: 2.4em;
    font-weight: 400;
    color: black;
    border-style: double;
    border-color: black;
    border-width: 10px;
    width: 68vw;
  }
  #duration {
    font-family: samlip;
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: black;
    text-align: left;
  }
  #gitText {
    /* font-family: samlip; */
    color: black;
    font-size: 1.2rem;
    margin-left: 2vw;
    margin-top: 2vh;
    /* margin-bottom: 20px; */
    text-align: left;
  }
  #contribution {
    text-align: left;
    margin-bottom: 20px;
    font-family: samlip;
    font-size: 1.2rem;
  }
  #contribution_list {
    text-align: left;
    margin-bottom: 2vh;
    font-family: OSeongandHanEum;
    font-size: 0.75rem;
  }
  #list {
    margin-bottom: 10px;
  }
}

.profile {
  background-image: url("../assets/image/profile.gif");
}
.feedProfileHome {
  background-image: url("../assets/image/feedProfileHome.gif");
}
.feedWrite {
  background-image: url("../assets/image/feedWrite.gif");
}
.login {
  background-image: url("../assets/image/login.gif");
}
.modal {
  background-image: url("../assets/image/modal.gif");
}
.Community {
  background-image: url("../assets/image/Community1.gif");
}
.CommWrite {
  background-image: url("../assets/image/CommWrite.gif");
}
.Search {
  background-image: url("../assets/image/Search.gif");
}
.Location {
  background-image: url("../assets/image/Location.gif");
}
li {
  margin-top: 10px;
}
